  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  :root {
      font-size: 62.5%;
      /* = 10px*/
      --default-border: 0.1rem solid rgba(0, 0, 0, 0.295);
      --default-border-radius: 1.2rem;
  }

  body {
      font-family: 'Roboto Slab', serif;
      font-size: 1.4rem;
  }

  main {
      grid-area: form;

  }

  aside {
      grid-area: hero;

  }

  .content {
      display: grid;
      grid-template-areas:
          ". . . . . "
          ". hero . form . "
          ". hero . form ."
          ". . . . . "
      ;
      grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
      gap: .5rem;
      height: 100%;
      justify-items: center;
      align-items: center;
      justify-content: center;
      margin-top:50px;
    }
  aside h1 {
      line-height: 75px;
      font-size: clamp(5vw, 15vw, 6em);
  }

  aside h1 span,
  main h2 span {
      color: #FF5678;
  }

  main header {
      display: flex;
      align-items: center;
      gap: 1.8rem;
  }

  main header i {
      font-size: 2rem;
      color: #e4153f;
  }

  main {
     max-width: 60rem;
     min-width: 5rem;
     max-height: 60rem;
     border: var(--default-border);
     padding: 4.4rem 5.7rem;
     position: relative;
  }

  main h2 {
      max-width: 43rem;
      font-size: clamp(1.5rem, 3.6rem, 3.6rem);
      font-weight: 500;

  }

  main .actions {
      display: flex;
      flex-flow: column wrap;
  }

  main .actions a {
      background-color: #35E6E9;
      height: 5.5rem;
      font-size: clamp(1rem, 2.4rem, 2.5rem);
      border-radius: var(--default-border-radius);
      text-decoration: none;
      color: #ffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5.4rem;
  }

  main .actions a:hover{
    -webkit-animation: icon_animado 5s 2s 1 alternate;

  }
  main .actions a+a {
      background-color: #FF5678;
      margin-top: 4.8rem;
  }

  @keyframes icon_animado{
    from{
        font-size: 12rem;
        }
    to{
        content: "sssssss ";
    }
  }

  main footer p {
      font-size: 1.6rem;
      margin-top: 8rem;
      display: block;
      text-align: center;
  }

  main footer a {
      display: block;
      margin-top: 1rem;
      font-size: 1.8rem;
      display: block;
      text-align: center;
      color: #000;
  }

  main form {
      margin-top: 1.6rem;
  }

  main form label {
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: lowercase;
      margin-top:1rem;
      display: block;
  }

  main form :is(input, select) {
      display: block;
      width: 489px;
      height: 5.5rem;
      background-color: #ffff;
      border: var(--default-border);
      border-radius: var(--default-border-radius)
  }

  main form select {
      appearance: none;
  }

  main form .select-div {
      position: relative;
  }

  main form .select-div #input-field option {
      text-align: center;
  }

  main form .select-div::after {
      top: 1.7rem;
      right: 1.0rem;
      color: #1dcbce;
      font-size: 2.2rem;
      content: "\f107";
      font-family: 'Font Awesome 6 Free';
      font-weight: 600;
      position: absolute;
      z-index: 1;
  }

  main form .points {
      position: relative;
  }

  main form input+button {
      position: absolute;
      right: -3.7rem;
      top: calc(2rem + 2.5rem);
      background-color: transparent;
      border: none;
      color: #1dcbce;
      font-size: 2.4rem;
  }




  @media (min-width: 150px)and (max-width: 780px) {
      .content {

          grid-template-areas:
              ". . . . . "
              ". . hero . . "
              ". . hero . . "
              ". . form . . "
              ". . from . . "
              ". . . . . "
          ;
          gap: .5rem;
          justify-items: center;
      }

      .content aside {
          width: 300px;
          height:250px;
          text-align: center;
      }
      .content aside img{
        margin-top:-80px;
      }

      main .actions{
        align-items: center;
      }
      main .actions a{
          width: 150px;
          font-size: 1.5rem;
          text-align: center;
          
      }
      main .actions a+a{
        margin:12px 0 20px 0px;

      }
      main{
        align-items: center;
        text-align:center;
      }
      main h2 {
        font-size: 2rem;
      }
      main form :is(input, select) {
        width: 200px;
    }
  }